

/*container*/

.cardcontainer{
    flex-flow: wrap;
    display: flex;
    grid-template-columns:4;
    gap: 60px;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 50%; */
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    flex-wrap: wrap;
    text-align: justify;
} 
.All_item{
    width: 100%;
    height: 200%;
}



/*Header*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    padding: 10px;
    font-size: 40px;
    word-spacing: 20px;
    
}

.left{
    display: flex;
    align-items: center;

}

.right{
    font-weight: 200;

}



.title{
    background-color: antiquewhite;
    color: black;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px ;
}

.percentage{
    font-size: 16px;
    color: black;
    padding: 5px;
}

/*Color for each card*/

.cardpurple{ background-color: purple;
width: 20%; height:300px; }
.cardcyan{ background-color:cyan;
width: 20%; height: 300px;}
.cardgreen{ background-color: green;
width: 20%;height: 300px;}
.cardorange{ background-color: orange;
width: 20%;height: 300px;}
.cardmagenta{ background-color: magenta;
width: 20%;height: 300px;}
.cardlavender{ background-color: rgb(123, 123, 222);
width: 20%;height: 300px;}
.cardcrimson{ background-color: crimson;
width: 20%;height: 300px;}
.cardbeige{background-color: deeppink;
width: 20%;height: 300px;}










